* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* LAYOUT */
.dashboard {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #020617;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar ul li:hover {
  background: #1e293b;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* TOPBAR */
.topbar {
  margin-bottom: 20px;
}

/* CAR GRID */
.cars {
  display: flex;
  gap: 20px;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
}

.card button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: #00c6ff;
  color: white;
  cursor: pointer;
}

.card button:hover {
  background: #0072ff;
}